<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.buffalo.cse.phonelab"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    
    <application android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">
        
        <receiver android:name=".manifest.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        
        <service android:enabled="true" android:name=".manifest.ManifestService">
            <intent-filter><action android:name=".manifest.ManifestService"></action></intent-filter>
        </service>
        <service android:enabled="true" android:name=".launcher.LauncherService" />
        <service android:enabled="true" android:name=".platform.PlatformService">
            <intent-filter><action android:name=".platform.PlatformService"></action></intent-filter>
        </service>
    </application>
</manifest>
